{% extends 'base.html' %}

{% load static %}

{% block title %}{{ question.question_text}}{% endblock title %}


{% block scripts %}
<script>
    $('[data-toggle="datepicker"]').datepicker({
        format: 'yyyy-mm-dd',
        date: new Date()
    });
</script>
{% endblock scripts %}


{% block content %}
<h1>{{ question.question_text }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'polls:vote' question.id %}" method="post">
    {% csrf_token %}
    {% for choice in question.choice_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
    {% endfor %}

    <input data-toggle="datepicker" name="date" placeholder="Pick a date" required>
    <label for="date">Date</label><br>

    <input type="text" name="signature" placeholder="First and Lastname" required>
    <label for="signature">Digital Signature</label><br>

    <input type="submit" value="Vote">
</form>
{% endblock content %}